/* Write your CSS here */

.con-one {
  background-color: azure;
  height: 100vh;
  padding: 10%;
}
.con-two {
  margin-top: 10%;
  margin-left: 30%;
  background-color: black;
  width: 35%;
  padding: 5px;
  border-radius: 5px;
}

.LightMode {
  font-family: 'Roboto';
  background-color: black;
  color: #ffffff;
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}
.DarkMode {
  font-family: 'Roboto';
  background-color: white;
  color: black;
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}
